/* ===============================
   Global Variables
   =============================== */
:root {
  --color-primary: #283606;
  --color-secondary: #0F1500;
}

/* ===============================
   Base Styles
   =============================== */
* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:#fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============================
   Secondary Font (Inter)
   =============================== */
.in {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
}

main{
  /* background-color: var(--color-secondary); */
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  position: relative;
}

header {
    position: absolute;
    top: 0;
    z-index: 9;
    /* left: 7rem; */
    width: 100%;
}

nav{
  border-top: 0.5px solid #ffffff59;
    border-bottom: 0.5px solid #ffffff59;
    margin-top: 1.5rem;
    border-width: .5px;
}

.navbar{
  padding:0!important
}


.mobile_menu{
  display: none!important;
}
/* ===============================
   Logo Section
   =============================== */
.logo_sec img {
  width: 220px;
  height: 50px;
  object-fit: contain;
}

/* ===============================
   Utility Classes
   =============================== */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}


.main_sec{
    display: flex;
    gap:1rem;
    align-items:center;
    height: 50px;
    justify-content: end;
}

.btn-login{
    border-radius: 16px;
    padding: 0.5rem 2rem;
    background-color: #c4a15f;
    color:#fff;
}

.social_sec {
    display: flex;
    gap: 1rem;
}

.social_sec img {
    width: 19px;
    height: 22px;
    object-fit: contain;
}

.new_nav {
    display: flex;
    /* gap: 6.3rem; */
    align-items: center;
    justify-content: space-between;
    max-width: 84%;
    width: 100%;
    /* padding: 0px 3%; */
}

.carousel-caption {
    /* position: absolute; */
    top: 0;
    display: flex!important;
    flex-direction: column;
    align-items: flex-start;
    /* width: 96%; */
    left: 128px;
    justify-content: center;
}

.carousel-caption h5,p{
    color:#fff;
}


.videos{
  width:100%;
  height: auto;
  object-fit: cover;
 

}

h2,h1{
  /* font-size: 46px; */
  font-weight: 400;
  font-size: clamp(0.75rem, 0.2188rem + 2.6563vw, 2.875rem);
}

p{
  font-size: 14px;
  font-weight: 200;
}

.video_sec p {
    padding: 0 12rem;
}







.video-container {
  position: relative;

  height: 360px;
}

video {
  width: 100%;
  height: 100%;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  background-color:#fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.play-button:hover {
  background-color: rgba(0,0,0,0.7);
}


div#playBtn img {
    position: relative;
    left: .3rem;
}


.box{
  max-width: 640px;
  width: 100%;
  height: 200px;
  margin: auto;
  background-color: var(--color-primary);
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    opacity: 0.9;
}


.box_left span {
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
}


.booking_sec {
    padding-right: 23rem;
}

/* =========== slider css =========================== */

/* .slider {
  width: 90%;
  margin: auto;
}

.slide-item {
  text-align: center;
}

.slide-item img {
  width: 100%;
  border-radius: 10px;
}

.slide-item p {
  color: white;
  font-size: 18px;
  margin-top: 8px;
}


 .slick-prev:before, 
.slick-next:before {
  color: white;
  font-size: 30px;
} */ 


.slider {
  width: 90%;
  margin: auto;
}

.slide-item {
  text-align: center;
  padding: 0 0px; /* space between slides */
  box-sizing: border-box;
}

.slide-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.slide-item p {
  color: white;
  font-size: 18px;
  margin-top: 8px;
}

/* Slick custom arrows */
.slick-prev:before, 
.slick-next:before {
  color: white;
  font-size: 30px;
}


/* ============== end slider css ===================== */

.booking_section{
  width: 100%;
  height: auto;
}



/* =============== card section ========= */

 .card {
      background-color: #1f2a0d;
      border: none;
      border-radius: 15px;
      overflow: hidden;
      padding: .5rem;
    }
    .card img {
      border-radius: 15px 15px 0 0;
      height: 250px;
      object-fit: cover;
    }
    .price-badge {
      background-color: #c19a6b;
      color: white;
      font-size: 12px;
      padding: 5px 15px;
      border-radius: 30px;
      font-weight: bold;
    }
    
    span.arrow img {
    width: 38px;
    height: 28px;
}


.map_list{
  text-align: center;
}

.map_list p:first-child {
    font-size: 12px;
    font-weight: lighter;
    color: #fff;
    letter-spacing: .1rem;
}


.map-list_para{
  padding-right:13rem;
}

.btn-custom img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}


.cart_txt {
    padding: 0 17rem;
    font-size: 14px;
}
/* ================ footer section ================== */

  .footer-section {
     
      padding: 50px 0;
    }
    .footer-section h2 {
      font-size: 2rem;
      font-weight: 500;
    }
    .footer-section a {
      color: white;
      text-decoration: none;
    }
    .footer-section .logo {
      font-size: 2rem;
      font-weight: bold;
      color: #c9a35c;
    }
    .map-section {
     
      padding: 50px 0;
      text-align: center;
    }
    .map-section img {
      max-width: 100%;
      height: auto;
    }
    .btn-custom {
      background-color: #c9a35c;
      color: white;
      border-radius: 30px;
      padding: 10px 20px;
    }
    .btn-custom:hover {
      background-color: #b58d4c;
      color: white;
    }

    .terms span{
      font-size: 14px;
      cursor: pointer;
    }

    .ft{
      font-size: 13px;

    }




/* ================== end footer sec========================== */



.booking_sec2 {
    padding-left: 7rem;
    padding-top: 3rem;
}


.btn-login:hover {
    background-color: #b58d4c;
    color: white;
}

.new_nav a{
text-transform: uppercase;

}

.banner_arrow{
  width: 27px!important;
  height: 20px;

}


@media (max-width:992px) {

  .main_sec{
    display: none;
  }

  .desktop_menu{
    display: none;
  }

  .mobile_menu{
  display: block!important;
}

nav{
  border:0;
  padding: 0;
  margin:0;
}

.navbar-toggler {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 0;
    padding-top: 1rem;
}

.video_sec{
  padding:0;
} 

.video_sec p{
  padding:0 1rem;
} 


/* responsive mobile */



div#navbarNavAltMarkup {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}



.new_nav {
    padding: 0;
  justify-content: space-between;
    background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
    position: absolute;
    width: 400px!important;
    right: -40%;
    top:.3rem
}

.new_nav a {
    border-bottom: 1px solid #ffffff47;
    padding:.3rem 1rem;
}



.booking_sec{
  padding:0;

}

.booking_sec h2{
  font-size: 42px;
}

.cart_txt {
    padding: 0 1rem ;
    font-size: 14px;
}


  
}



@media (max-width:400px) {

  .video-container{
    height: auto;
  }

  .btn-login{
    padding:.5rem 1rem;
  }

.new_ft{
  text-align: left;
}

.exp h2{
  font-size: 32px;
  text-align: left;
}

.exp p{
  text-align: left;
  padding:0;
}

.map_list{
  text-align: left;
}

.map_list h2{
  padding-top:1rem;
  font-size: 30px;
}

.ft_img{
  padding-top: 2rem;
}

.booking_sec2 {
  padding:0;
}

.booking_sec2 h2 {
    font-size: 32px;
}

.map-list_para{
  padding:0;
}


.banner_arrow{
  width: 15px!important;
  height: 20px;

}

.carousel-item img{
  height: 100vh;
}





.carousel-dark .carousel-caption {
    color: #000;
    width: 100%;
    left: 0;
    padding: 1rem;
    justify-content:end;
}


h1{
  font-size: 2.5rem;
}

.carousel-caption p{
  text-align: left;
}


.booking_sec h2{
  font-size: 22px;
}



}

  
/* Custom CSS to ensure full-width dropdown */
  @media (max-width: 991.98px) {
    #mobile_nav {
      position: fixed;
      top: 72px; /* Adjust based on your navbar height */
      left: 0;
      right: 0;
     background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
      z-index: 1000;
      padding: 10px 0;
    }
    
    .navbar-nav {
      flex-direction: column;
    }
    
    .nav-link {
      padding: 10px 15px;
    }

    div#mob_menu a {
    border-bottom: 1px solid #ffffff4d;
}



  }